<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-select [(ngModel)]="language" [value]="language" (ionChange)="changeLanguage()">
      <ion-select-option value="en-US">English-US</ion-select-option>
      <ion-select-option value="en-GB">English-GB</ion-select-option>
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Spanish</ion-select-option>
      <ion-select-option value="fr">French</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        Translated by a custom HTTP Loader - From internal JSON
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="ion-padding">
    <ion-card-header>
      Simple Example
    </ion-card-header>
    <ion-card-content>
      <h1>{{ title }}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-card-header>
      Example With Params
    </ion-card-header>
    <ion-card-content>
      <h1>{{ title_2 }}</h1>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-card-header>
      With Params, in nested JSON data
    </ion-card-header>
    <ion-card-content>
      <h1>{{name}}</h1>
    </ion-card-content>
  </ion-card>

</ion-content>
