ion-card-header {
  border-bottom: 1px solid #ccc;
  padding: 0 0 10px 0;
  font-weight: bold;
}

ion-col {
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
}

ion-card-content {
  padding: 5px 0 0 0;
}

ion-card {
  margin-top: 10px;
  margin-bottom: 10px;
}
